body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 20px;
   ;
}

main {
    padding: 20px;
}

.introduction, .contact {
    margin-bottom: 20px;
}

h1, h2 {
    color: #1e90ff;
}

a {
    color: #1e90ff;
}

footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
